.section {
  min-height: auto;
  padding: 80px 10%;
  background: var(--bg);
  color: var(--text);
}

/* TITRE */
.title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

/* CONTAINER */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 25px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 30px var(--primary);
}

/* TITRE CARD */
.cardTitle {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

/* GRID SKILLS */
.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* SKILL */
.skill {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: 0.3s;
}

.skill img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: 0.3s ease;
}

.skill:hover {
  background: var(--primary);
  color: white;
  transform: scale(1.2) rotate(5deg);
}
